**.zip
**/.DS_Store
**/.idea
**/*~
**/chrome
**/__mocks__
**/coverage/
**/node_modules/
**/test-report.html
**/summaries*
**/target
**/tmp
**/*.iml
**/*.json
**/*.sh
**/data/
**/*.numbers
**/front/dist
back/docker/
**/.mvn/**
kubeconfig*
back/java/data
run_with_docker.sh
nlp/config.json
sandbox/*
data/*