KEYCLOAK_DB_NAME=postgres
KEYCLOAK_DB_USER=postgres
KEYCLOAK_DB_PASSWORD=postgres
KEYCLOAK_DB_PORT=5433
KEYCLOAK_USER=admin
KEYCLOAK_PASSWORD=password
KEYCLOAK_PORT=8080
KEYCLOAK_PORT_EXPOSED=5003

APP_DB_HOST_NAME=appdb
APP_DB_NAME=postgres
APP_DB_USER=postgres
APP_DB_PASSWORD=postgres
APP_DB_PORT=5431
APP_DB_PORT_EXPOSED=5431

FRONT_PORT_EXPOSED=5001

BACK_PORT_EXPOSED=5002
BACK_PORT=5002
BACK_CORS_ORIGINPATTERNS=http://localhost:${FRONT_PORT_EXPOSED}
LOCALHOST_ACCESS=http://localhost

SUGGESTIONS_PORT=5004
SUGGESTIONS_PORT_EXPOSED=5004

SUGGESTIONS2_PORT=5005
SUGGESTIONS2_PORT_EXPOSED=5005
