/* Contact Form 7
---------------------------------------------------------- */
div.wpcf7 span.ajax-loader,
div.wpcf7 span.wpcf7-spinner {
  display: none !important;
}
div.wpcf7 span.ajax-loader:before,
div.wpcf7 span.wpcf7-spinner:before {
  display: none;
}
div.wpcf7 form.submitting .wpcf7-submit {
  cursor: progress;
}
div.wpcf7 form .wpcf7-response-output {
  border-radius: 3px;
  border-width: 1px;
  margin: 27px 0px 0px 0px;
  padding: 0;
  border: none;
  font-size: .9em;
}
span.wpcf7-list-item {
  margin-right: 1em;
  margin-left: 0;
}
.wpcf7-list-item-label {
  margin-left: .25em;
}
.wpcf7 .wpcf7-mail-sent-ok,
.wpcf7 .wpcf7-validation-errors,
.wpcf7 span.wpcf7-not-valid-tip {
  font-size: 13px;
  padding: 6px 9px 6px 9px;
  padding: 0;
  margin: 18px 0px 0px 0px;
  display: block;
  text-align: inherit;
  border: 0;
  font-weight: 500;
}
input.wpcf7-form-control.wpcf7-submit.btn {
  margin: 9px 0px 0px 0px;
}
.wpcf7-form > div:first-child + p {
  margin-top: 0;
}
p + .wpcf7-inline-wrapper,
.wpcf7-inline-wrapper + .wpcf7-inline-wrapper {
  margin-top: 18px;
}
.wpcf7-inline-wrapper {
  display: table;
  table-layout: fixed;
  width: 100%;
}
.wpcf7-inline-wrapper input,
.wpcf7-inline-wrapper select {
  margin: 0px;
}
.wpcf7-inline-wrapper label + br + span input,
.wpcf7-inline-wrapper label + br + span select {
  margin-top: 9px;
}
.form-no-labels .wpcf7-inline-wrapper input,
.form-no-labels .wpcf7-inline-wrapper select {
  margin-top: 0;
}
.wpcf7-inline-wrapper .wpcf7-inline-field {
  width: 50%;
  display: table-cell;
  vertical-align: top;
  padding: 0px 9px 0px 9px;
}
.wpcf7-inline-wrapper .wpcf7-inline-field label {
  display: inline;
}
.wpcf7-inline-wrapper .wpcf7-inline-field input {
  text-align: left;
}
.wpcf7-inline-wrapper .wpcf7-inline-field input:not([type="checkbox"]),
.wpcf7-inline-wrapper .wpcf7-inline-field input:not([type="radio"]) {
  width: 100%;
}
.wpcf7-inline-wrapper .wpcf7-inline-field:first-child {
  padding-left: 0px;
}
.wpcf7-inline-wrapper .wpcf7-inline-field:last-child {
  padding-right: 0px;
}
.wpcf7-inline-wrapper .wpcf7-inline-field > * {
  margin-top: 0px !important;
}
.wpcf7-inline-wrapper .wpcf7-inline-field label {
  margin-bottom: 9px;
}
.wpcf7-inline-wrapper.wpcf7-input-group {
  display: flex;
}
.wpcf7-inline-wrapper.wpcf7-input-group p {
  padding: 0;
}
.wpcf7-inline-wrapper.wpcf7-input-group .wpcf7-not-valid-tip {
  display: none;
}
body:not(.rtl) .wpcf7-inline-wrapper.wpcf7-input-group > *:first-child input:not(.btn-inset):not(.inset-input) {
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}
body:not(.rtl) .wpcf7-inline-wrapper.wpcf7-input-group > *:first-child input:not(.btn) {
  line-height: 1.65em;
  padding: 11px 15px 11px 15px;
}
body:not(.rtl) .wpcf7-inline-wrapper.wpcf7-input-group > *:first-child input:not(.btn):not(.inset-input) {
  border-right: none !important;
}
body.rtl .wpcf7-inline-wrapper.wpcf7-input-group > *:first-child input {
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}
body.rtl .wpcf7-inline-wrapper.wpcf7-input-group > *:first-child input:not(.btn) {
  line-height: 1.65em;
  padding: 11px 15px 11px 15px;
  border-left: none !important;
}
body:not(.input-underline):not(.rtl) form:not(.input-underline) .wpcf7-inline-wrapper.wpcf7-input-group > *:not(:first-child) input {
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}
body:not(.input-underline):not(.rtl) form:not(.input-underline) .wpcf7-inline-wrapper.wpcf7-input-group > *:not(:first-child) input:not(.btn) {
  line-height: 1.65em;
  padding: 11px 15px 11px 15px;
  border-left: none !important;
}
body:not(.input-underline).rtl form:not(.input-underline) .wpcf7-inline-wrapper.wpcf7-input-group > *:not(:first-child) input {
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}
body:not(.input-underline).rtl form:not(.input-underline) .wpcf7-inline-wrapper.wpcf7-input-group > *:not(:first-child) input:not(.btn) {
  line-height: 1.65em;
  padding: 11px 15px 11px 15px;
  border-right: none !important;
}
.wpcf7-inline-wrapper.wpcf7-input-group .wpcf7-inline-field-text {
  width: 99%;
}
.wpcf7-inline-wrapper.wpcf7-input-group .wpcf7-inline-field-text input {
  height: 100%;
}
.wpcf7-inline-wrapper.wpcf7-input-group .wpcf7-inline-field-btn {
  width: auto;
  display: block;
}
.wpcf7-inline-wrapper.wpcf7-input-group .wpcf7-inline-field-btn input {
  height: 100%;
  width: auto;
}
.wpcf7-inline-wrapper.wpcf7-input-group .wpcf7-inline-field-btn input.btn-xl {
  padding-left: 27px !important;
  padding-right: 27px !important;
}
.wpcf7-inline-wrapper.wpcf7-input-group.wpcf7-inset-btn {
  position: relative;
}
.wpcf7-inline-wrapper.wpcf7-input-group.wpcf7-inset-btn .wpcf7-submit {
  position: absolute;
  top: 4px;
  right: 4px;
  width: auto;
  height: calc(100% - 8px);
  line-height: calc(100% - 8px);
  padding: 0 20px !important;
  font-size: 14px !important;
}
.wpcf7-inline-wrapper.wpcf7-input-group.wpcf7-inset-btn .wpcf7-inline-field-text {
  width: 100% !important;
}
.wpcf7-inline-wrapper.wpcf7-input-group.wpcf7-inset-btn input {
  font-size: 14px;
}
.style-dark .wpcf7-inset-btn input::-webkit-input-placeholder,
.style-light .style-dark .wpcf7-inset-btn input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.style-dark .wpcf7-inset-btn input::-moz-input-placeholder,
.style-light .style-dark .wpcf7-inset-btn input::-moz-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.style-dark .wpcf7-inset-btn input::-ms-input-placeholder,
.style-light .style-dark .wpcf7-inset-btn input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.style-dark .wpcf7-inset-btn input::input-placeholder,
.style-light .style-dark .wpcf7-inset-btn input::input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
form .wpcf7-inline-wide input,
form .wpcf7-inline-wide select {
  width: 100%;
}
.wpcf7-acceptance label {
  display: inline !important;
}
.wpcf7 form input.wpcf7-form-control.wpcf7-submit.btn.btn-lg,
.wpcf7 form input.wpcf7-form-control.wpcf7-submit.btn.btn-xl {
  margin-top: 18px;
}
form .wpcf7-inline-wrapper:nth-child(2) p {
  margin-top: 0px;
}
.wpcf7-captchac {
  margin: 14px 0px 0px 0px;
}
input.wpcf7-submit {
  margin-top: 0;
}
body:not(.rtl) .wpcf7-inline-wrapper.wpcf7-input-group > *:first-child input:not(.btn),
body.rtl .wpcf7-inline-wrapper.wpcf7-input-group > *:first-child input:not(.btn) {
  padding: 10px 15px 10px 15px;
}
body:not(.rtl) .wpcf7-inline-wrapper.wpcf7-input-group > *:first-child input:not(.btn).btn-circle,
body.rtl .wpcf7-inline-wrapper.wpcf7-input-group > *:first-child input:not(.btn).btn-circle {
  padding-left: 27px;
  padding-right: 27px;
}
.wpcf7-acceptance .wpcf7-list-item-label {
  font-size: 13px;
  font-weight: 400;
}
body:not(.rtl) .wpcf7-acceptance .wpcf7-list-item-label {
  padding-left: 12px;
}
body.rtl .wpcf7-acceptance .wpcf7-list-item-label {
  padding-right: 12px;
}
.wpcf7-acceptance .wpcf7-list-item-label::after,
.wpcf7-acceptance .wpcf7-list-item-label::before {
  display: none;
}
.wpcf7-form.form-no-labels br,
.wpcf7-form.form-no-labels label {
  display: none;
}
