@import "../../../style/variables";

.couleurDeFond {
  background-color: var(--background-alt-beige-gris-galet);
}

.carte {
  box-shadow: var(--lifted-shadow);
  background: var(--background-raised-grey);
  max-width: 840px;
}

.etape {
  box-shadow: var(--overlap-shadow);
}

@media(min-width: $breakpoint-md) {
  .imageDeFond {
    background: url('/images-de-fond/inscription.svg')
  }
}