@tailwind base;
@tailwind components;
@tailwind utilities;

.fr-footer__partners .fr-footer__logo {
  box-shadow: none;
}

.fr-segmented input:not([disabled]):not(:checked)+label:hover {
  background: none;
}

.fr-segmented__element input:checked+label {
  background: white;
}