// Import all of Bootstrap's CSS

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

/*orig ben $question-color: rgb(65, 85, 108);*/
/*orig ben $interest-color: rgb(42, 50, 67);*/
$interest-color: rgb(165, 219, 208);
$trashItemIconColor: rgba(231, 76, 60, 1);
$myPurpleLight: #F4F4FF;
$myPurple: #E3E3FD;
$myPurpleStrong: #6A6AFD;
$myBleuMarine: #000091;
$my-orange: #ffe169;
$white: #ffffff;
$black: #000000;
$interest-color: $myPurpleStrong;
//$question-color: rgb(183, 212, 246);
$question-color: rgb(147, 145, 191);;
$btn-primary-colour: #8d2c27;
$btn-primary-focus-colour: #ba3a34;
$active-color: #31d2f2;
$gray: gray;

$card-question-mark-color: #5982E0;
$card-text-color: #000091;
$card-text-background-color: rgba(131, 131, 234, 0.19);
$card-icon-color: #6A6AF4;
$card-border-color: $card-icon-color;
$card-background-color: white;
$stats-color: #B6CFFB;

.inscription-screen {

}

header {
  display: flex;
  flex-wrap: wrap;
    align-items: center;
    gap: 40px;
    border: 1px solid var(--light-decisions-border-border-default-grey, #DDD);
    width: 100vw;
    padding-top: 10px;
}

footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 40px;
  border: 1px solid var(--light-decisions-border-border-default-grey, #DDD);
      width: 100vw;
          padding-top: 10px;
}

.landing {
  background-color: var(--light-neutral-grey-1000-grey-1000, #FFF);
  background-image: url('../img/landing.jpg');
}

.body {
  background-color: var(--light-neutral-grey-1000-grey-1000, #FFF);
    
}

.mt-40px {
  margin-top: 40px;
}
.w-100 {
  width: 100%;
  max-width: 100%;
}
.w-80 {
  width: 80%;
  max-width: 80%;
}

.px-25 {
  padding-right: 12.5%;
  padding-left: 12.5% ;
  height: auto;
}

#sub-container {
  height: 100%;
  //background-image: url("../img/premierspas.svg");
  //background-size: cover;
    //background-position: center;
    //background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
}

#sub-placeholder {
  padding: 20px;
  margin-top: 50px;
  max-width: 700px;
  width: 75%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: white;
    justify-content: center;
      align-items: center;
              height: 100%;
    }
#main-placeholder {
//  background-color: #f9f6f2;
}
.py-10px {
  padding-top: 10px;
  padding-bottom: 10px;
}

.dsfr-text-neutral {
  color: var(--light-neutral-grey-50, #161616);
}

.dsfr-text-large {
    color: var(--light-neutral-grey-50, #161616);
    /* 1.Titres/H2 - LG/Desktop */
    font-family: Marianne;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
}

.button-container {
  text-align: center;
  margin-top: 20px;
}

.button-container button {
  padding: 10px 20px;
  margin: 0 5px;
}

.button-container button.left {
  float: left;
}

.button-container button.right {
  float: right;
}

.dsfr-mdp-oublie {
  color: var(--light-decisions-text-text-action-high-blue-france, #000091);
    /* 2.Corps de texte/SM - Texte détail/Desktop & Mobile - Regular */
    font-family: Marianne;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 171.429% */
}

.horizontal-lines {
  display: flex;
  align-items: center;
}

.line {
  flex: 1;
  border-top: 1px solid black;
}

.text-between-horizontal-lines {
  margin: 40px 10px;
  color: var(--light-decisions-text-text-disabled-grey, #929292);
  /* Adjust spacing between text and lines as needed */
}


.fr-input {
   border-radius: 4px 4px 0px 0px;
    border-bottom: 2px solid var(--light-decisions-border-border-plain-grey, #3a3a3a);
    background: var(--light-decisions-background-background-contrast-grey,
        #eee);
}

.bg-light2 {
  background-color: var(--light-neutral-grey-1000-grey-1000, #FFF);
}

.myBleuMarine {
  color: $myBleuMarine;
}

.btn-url {
  background-color: $myBleuMarine;
}

.descriptif-formation {
background-color: $myPurple;
color: $myBleuMarine;

}

.yellow-hr{
  height: 4px;
  background-color: $my-orange;
  border-color: $my-orange;
  border: 0;
  text-decoration: none;
  opacity: 1.0;
}


.nodeco {
  text-decoration: none;
}

.blue-hr {
  height: 4px;
    border: 0;
    text-decoration: none;
    opacity: 1.0;
  background-color: $myBleuMarine;
  border-color: $myBleuMarine;
}

.pourquoi {
  color: $myBleuMarine;
}

.no_hover {
  pointer-events: none;
}

.bg-white {
  background-color: #ffffff;
}/*
$question-color: #4e639e;
$interest-color: #7fbfdd;
$trashItemIconColor: rgba(231, 76, 60, 1);
$btn-primary-colour: #8d2c27;
$btn-primary-focus-colour: #ba3a34;
$active-color: #31d2f2;
*/
/*
$question-color: #064c72;
$interest-color: #026c80;
$trashItemIconColor: rgba(231, 76, 60, 1);
$btn-primary-colour: #e9311a;
$btn-primary-focus-colour: #ba3a34;
$active-color: #31d2f2;
*/

$accordion-color: $interest-color;
$accordion-button-color: $interest-color;
$accordion-button-bg: white;
$accordion-border-width: 0px;
$accordion-button-active-color: $interest-color;
$accordion-button-active-bg: white;
$accordion-icon-color: $myBleuMarine;
$accordion-icon-active-color: myBleuMarine;
$accordion-icon-transition: transform 0.2s ease-in-out;
$accordion-button-focus-box-shadow: 0;
$accordion-button-focus-border-color: $interest-color;
$beige-gris-galet-950: #F3EDE5;

//@import "~bootstrap/scss/bootstrap";

/*
.accordion-item:hover {
  background-color: $accordion-button-color;
}*/


/* ensures the footer is at the bottom of the page */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--light-neutral-grey-1000-grey-1000, #FFF);;
}
//done

#main-div-board {
  background-color: var(--light-neutral-grey-1000-grey-1000, #FFF);
  display: flex;
  flex-direction: column;
}

#connected {
  display: flex;
  flex-direction: column;
  flex: 1;
}
#main-placeholder {
  display: flex;
  flex-direction: column;
  flex: 1;
}
#main-div-recherche {
  background-color: $white;
  height: 100%;
  margin-left: 0px;
}
.inscription-screen {
      background-image: url("../img/bg.svg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
}
.tab-content {
  //background-color: $beige-gris-galet-950;
        padding-left: 0px;
  //background-image: url('../img/connected-bg.svg');
  //background-size: cover;
  }
#main-div-recherche {
  min-width: 100%;
  display: flex;
    flex-direction: column;
    /* Make container flex direction vertical */
    min-height: 50vh;
    margin-left: 0px;
}
.explore-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.explore-header-type {
  display: flex;
    flex-direction: row;
  color: var(--light-decisions-text-text-label-grey, #161616);
  
    /* 2.Corps de texte/MD - Texte standard/Desktop & Mobile - Regular */
    font-family: Marianne;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

    align-items: flex-start;
    flex-grow: 1;
    /* 150% */
}
.explore-header-tags {
    //align-items: flex-end;
    //justify-content: flex-end;
    //width: 40%;
    //min-width: 400px;
    margin-top: 50px;
    //background-color: white;
}
.explore-header-tags input {
  //align-items: flex-end;
  //justify-content: flex-end;
  //width: 40%;
  //min-width: 400px;
  //margin-top: 50px;
  background-color: white;
}

#main-div-selection #explore-div-resultats-left {
  background-color: var(--light-decisions-background-background-open-blue-france, #E3E3FD);
  color: white;
}
.fr-fieldset__legend--regular2 {
}
.fr-fieldset__legend2 {
  align-items: center;
  padding-top: 15px;
  margin-right: 15px;
}
#explore-div-entete {
  padding-top: 20px;
  height: 100%;
  padding-left: 6vw;
  padding-right: 6vw;
}
#explore-div-resultats {
  //display: grid;
  //grid-template-columns: 2fr 3fr;
  display: flex;
  flex:1;
  align-items: flex-start;//algin item to the top ('top' is not acepted)
  min-height: 60vh;
  border-color: $beige-gris-galet-950;
  border: 1px solid;
  //box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  padding-left: 0px;
  margin-left: 0px;

  height: min-content;
}
#explore-div-resultats-left {
  flex: 4;  
  background-color: $beige-gris-galet-950;
  //min-height: 60vh;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 18, 0.16);
  overflow: auto;
  max-height: 120vh;
  align-items: flex-start;
      padding-left: 6vw;
        padding-right: 3vw;
  
}
#explore-div-resultats-right {
  flex: 5;
  background-color: white;
  //var(--light-decisions-text-text-disabled-grey, #929292);
  min-height: 50vh;
  padding-top: 48px;
  padding-left: 8%;
  padding-right: 12%;
  margin-bottom: 56px;

  height: 100%;
  align-items: flex-start;
}
#explore-div-resultats-left-noresult,
#explore-div-resultats-left-entete {
  justify-content: center;
  align-items: center;
  display: flex;
  //height: 100%;
  margin-top: 48px;
  margin-bottom: 16px;
  color: var(--light-decisions-text-text-mention-grey, #666);
    text-align: left;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    /* 142.857% */
}
.formation-card {
  display: flex;
    flex-direction: column;
    /* Stack items vertically */
    align-items: top;
    /* Center items horizontally */
    justify-content: left;
    background-color: white;
    margin-top: 0px;
  margin-bottom: 24px;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 18, 0.16);
  padding-top: 3%;
  padding-bottom: 3%;  
  padding-left: 5%;
    padding-right: 5%;
    cursor: pointer;
  }
.horizontal-container {
  display: flex;
    /* Use flexbox layout */
    justify-content: space-between;
    /* Distribute items evenly along the main axis */
    align-items: center;
    /* Center items along the cross axis */
    /* Optional: Add additional styles as needed */
}
.formation-card-header {
  display: flex;
  width: 100%;
  margin-bottom: 12px;
}
.formation-details-header {
  display: flex;
  width: 100%;
  margin-bottom: 24px;
  align-items: center;
  
}
.formation-details-header-sep {
  flex-grow:1;
}
.formation-details-header-nav {
  display: flex;
}

.formation-card-header-type,
.formation-details-header-type  {
  border-radius: 4px;
  //padding: 3px;
  padding: 2px 6px;
  font-weight: 700;
  text-transform: uppercase;
    font-size: 12px;
    font-style: normal;
    align-items: center;
    height: 100%;
    //width: 100%;
    //line-height: 20px;
    /* 166.667% */
}
.formation-details-header-nav-icon {
  padding: 8px;
  border: 1px solid var(--light-decisions-border-border-default-grey, #DDD);
  margin-right: 8px;
}
.formation-details-header-nav-icon span {
  color: var(--light-decisions-text-action-high-blue-france, #000091);
}
.formation-card-header-type {
  border-radius: 4px;
  //padding: 3px;
  padding: 2px 6px;
  margin-right: 6px;
color: var(--light-options-illustration-color-sun-default-green-emeraude-sun-425, #297254);
  ;
  background-color: #E7FAF6;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
  font-style: normal;
  align-items: center;
  //width: 100%;
  //line-height: 20px;
  /* 166.667% */
}
.icon-favorite {
}
.formation-card-header-sep {
  flex-grow:1;
}
.formation-details-actions button {
  margin-right: 16px;
}

.formation-details-actions .favori {
  background: #FFECE7;
    color: var(--dark-options-illustration-color-100-hover-pink-macaron-100-hover, #84423E);
    ;}
.fr-icon-heart-fill {
  background: #FFECE7;
    color: var(--dark-options-illustration-color-100-hover-pink-macaron-100-hover, #84423E);
    ;}

.metier-card-header-type {
  border-radius: 4px;
  //padding: 3px;
  padding: 2px 6px;
  margin-right: 6px;  
  background: #FFECE7;
  color: var(--dark-options-illustration-color-100-hover-pink-macaron-100-hover, #84423E);
  ;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
  font-style: normal;
  align-items: center;
  //width: 100%;
  //line-height: 20px;
  /* 166.667% */
}
.formation-card-header-sep {
  flex-grow:1;
}
.formation-card-header-affinity {
padding: 0px 6px;
//width: 100%;
align-items: center;
color: var(--light-options-illustration-color-sun-default-green-emeraude-sun-425, #297254);
  font-family: Marianne;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}

.card-formation-title {
  //color: $myBleuMarine !important;
  //text-decoration: none !important;
  color: var(--light-decisions-text-text-title-grey, #161616);
  /* 1.Titres/H4 - SM/Desktop */
  font-family: Marianne;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 24px;
}
.formation-details-title {
  color: var(--light-decisions-text-text-title-grey, #161616);  
    /* 1.Titres/H2 - LG/Desktop */
    font-family: Marianne;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
  margin-bottom: 24px;    /* 125% */
  line-height: 40px;
    /* 125% */
}
.card-metier-title {
  //color: $myBleuMarine !important;
  //text-decoration: none !important;
  color: var(--light-decisions-text-text-title-grey, #161616);
  /* 1.Titres/H4 - SM/Desktop */
  font-family: Marianne;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  //line-height: 32px;
  margin-bottom: 16px;
    /* 133.333% */
}

.card-geoloc {
  color: var(--light-decisions-text-text-mention-grey, #666);
    font-family: Marianne;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 24px;
    /* 142.857% */
}
.card-studies-level {
  color: var(--light-decisions-text-text-mention-grey, #666);
    font-family: Marianne;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 16px;
}
.card-metiers-header {
  color: var(--light-decisions-border-border-action-high-grey, #161616);
    font-family: Marianne;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 12px;
    /* 142.857% */
}
.card-metiers-list {
  display: flex;
  flex-wrap: wrap;
    /* Use flexbox layout */
    //justify-content: space-between;
    /* Distribute items evenly along the main axis */
    align-items: left;
}
.card-metier {
  border-radius: 12px;
  background: var(--light-decisions-background-background-contrast-grey, #EEE);
  color: var(--light-decisions-text-text-label-grey, #161616);
    text-align: center;
    padding: 2px 8px;
    margin-right: 8px;
    margin-bottom: 8px;
  
    /* 2.Corps de texte/XS - Texte mention/Desktop & Mobile - Regular */
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    /* 166.667% */
}

.formation-details-summary {
  color: var(--light-decisions-text-text-default-grey, #3A3A3A);
    font-family: Marianne;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    margin-bottom: 12px;
}
.formation-details-links {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
.formation-details-stats-sep {
  color : #dddddd;
}
.formation-details-link {
  color: var(--light-decisions-text-action-high-blue-france, #000091);
    font-family: Marianne;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-right: 32px;
    /* 171.429% */

}
.formation-details-link img {
  width: 16px;
  height: 16px;
  margin-left: 4px;
  margin-bottom: -2px;
  
}
.formation-details-sub-title {
  color: var(--light-decisions-text-text-title-grey, #161616);
    /* 2.Corps de texte/LG - Texte article/Desktop & Mobile - Bold */
    font-family: Marianne;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    /* 155.556% */
}
.formation-details-stats-bacs {
  display: flex;
  flex-wrap: wrap;
  color: var(--light-decisions-border-border-action-high-grey, #161616);
    font-family: Marianne;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 125% */
    margin-bottom: 40px;
}
.formation-details-stats-bacs-repartition {
  display: flex;
  flex-wrap: wrap;
}
.formation-details-stats-bac-badge {
  margin-left: 12px;
  color: var(--light-options-illustration-color-sun-default-beige-gris-galet-sun-407, #6A6156);
  
    /* 2.Corps de texte/XS - Texte mention/Desktop & Mobile - Maj */
    font-family: Marianne;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    /* 166.667% */
    text-transform: uppercase;
    border-radius: 4px;
    background: var(--light-options-illustration-color-950-default-beige-gris-galet-950, #F3EDE5);
    padding-left: 6px;
    padding-right: 6px;
}
.formation-details-pourquoi {
    margin-bottom: 40px;
}


.formation-details-reasons {
  display: flex;
  flex-wrap: wrap;

  margin-top: 16px;

  color: var(--light-decisions-border-border-action-high-grey, #161616);
    font-family: Marianne;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 125% */
}
.formation-details-reason {
  margin-bottom: 16px;
}
.formation-details-reason-icon {
 margin-right: 8px;
}

.formation-details-tags{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 16px;
  }

.formation-details-exemples-metiers-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.formation-details-sub-title {
  margin-bottom: 16px;
}

.formation-details-exemple-metier {
    margin-left: 8px;
      margin-bottom: 16px;
    /* 166.667% */
    border-radius: 16px;
      background: #E3E3FD;

      padding-left: 12px;
      padding-right: 12px;

      color: var(--light-decisions-artwork-artwork-major-blue-france, #000091);
        text-align: center;
      
        /* 2.Corps de texte/SM - Texte détail/Desktop & Mobile - Regular */
        font-family: Marianne;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        /* 171.429% */
}

.formation-details-foldable-container {
  margin-bottom: 40px;

}
.fr-btn img {
  color:white;
}
.formation-details-actions {
  display: flex;
  flex-wrap: wrap;
}


/*********************************** BOARD **************************************************/
#main-div-board {
  background-color: $beige-gris-galet-950;
}
#board-div-entete {
  margin-top: 48px;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 120px;
}
#main-div-board .bienvenue {
  color: var(--light-decisions-text-text-mention-grey, #666);
  
    /* 2.Corps de texte/SM - Texte détail/Desktop & Mobile - Regular */
    font-family: Marianne;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 171.429% */
}

#main-div-board .ravi {
  color: var(--light-neutral-grey-50, #161616);
  
    /* 1.Titres/H1 - XL/Desktop */
    font-family: Marianne;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    /* 120% */
}
#main-div-board .boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 20%;
  margin-right: 20%;
}

#main-div-board .box {
  display: flex;
    padding: 48px 40px 32px 48px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    flex: 1 0 0;
    align-self: stretch;
    background-color: white;
    margin-right: 32px;
    margin-bottom: 32px;}

    .set-screen {
      cursor: pointer;
    }

/*********************************** PROFIL **************************************************/

#main-div-profile {
  background-color: $beige-gris-galet-950;
  width: 100%;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 120px;
  padding-right: 120px;
  min-height: 800px;
}

#main-div-profile-container {
  display: flex;
  flex-direction: row;
}
#main-div-profile #profile-div-left {
  background-color: white;
  margin-right: 24px;
  flex-grow: 1;
}
#main-div-profile #profile-div-right {
  background-color: white;
  flex-grow: 2;
}

.profile_tab {
  //border: 1px solid var(--light-decisions-border-border-default-grey, #DDD);
    background: var(--light-decisions-background-background-default-grey, #FFF);
    display: flex;
      padding: 56px 72px;
      flex-direction: column;
      align-items: flex-start;
      gap: 40px;
      align-self: stretch;
}



.profile_tab_title {
  color: var(--light-decisions-text-text-title-grey, #161616);
  
    /* 1.Titres/H4 - SM/Desktop */
    font-family: Marianne;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    /* 133.333% */
}
.profile-tab-scolarite-container-top {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.profile-tab-scolarite-container-top .fr-select-group {
  margin-right: 32px;
}

/***********************************  OLD *****************************************************/
.accordion-collapse {
  background-color: $accordion-button-color;
}

.accordion-body[excluded] {
  background-color: lightgray;
}

/* Style the tab */
.nav-tabs {
  overflow: hidden;
  /*border: 1px solid #ccc;*/
  border: none;
  background-color: #f1f1f1;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
  z-index: 1000;
}

/* Style the buttons that are used 
  to open the tab content */
.nav-item {
  background-color: inherit;
}

.red-heart {
  fill: red;
  fill-opacity: 0.5;
  color: red
}

/* Change background color of buttons 
  on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current 
  tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  /*border: 1px solid #ccc;*/
  border: none;
  border-top: none;
}

.interest,
.interested,
.interested:hover {
  background: $interest-color;
  color: white;
}

.notinterested,
.notinterested:hover {
  background: $myPurpleLight;
  color: $interest-color;
}

.table,
.statsAdmisDiv {
  background: $myPurpleLight;
  color: $interest-color;
}

.trashItemIcon {
  color: $trashItemIconColor;
}


.btn-info {
  color: $myBleuMarine;
  background-color: $myPurple;
  border: none;
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info,
.open {
  color: $myBleuMarine;
  background-color: $myPurpleLight;
  border-color: $myPurpleStrong;
}


.btn-question {
  color: $myBleuMarine;
  background-color: $question-color;
  border-color: $question-color;
}

.btn-question:hover,
.btn-question:focus,
.btn-question:active,
.btn-question.active,
.open {
  color: $myBleuMarine;
  background-color: $question-color;
  border-color: $question-color;
}

.btn-primary {
  color: #ffffff;
  background-color: $btn-primary-colour;
  border-color: $btn-primary-colour;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: $btn-primary-focus-colour;
  border-color: $btn-primary-focus-colour;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: $btn-primary-focus-colour;
  border-color: $btn-primary-colour;
}

.btn-primary .badge {
  color: $btn-primary-colour;
  background-color: white;
}


.table {
  vertical-align: middle;
  table-layout: fixed;
}

.horizontal-scrollable > .row {
  overflow-x: scroll;
  white-space: nowrap;
}

.horizontal-scrollable > .row > .col {
  display: inline-block;
  overflow-y: wrap;
  float: none;
}

.sugg_list_item {
  min-height: 217px;
  min-width: 217px;
}

.icon-homepage {
  max-width: 200px;
  max-height: 100px;
}
.search-button {
  padding-right: 0px !important;
  /* Remove default padding */
}

.search-button span {
  display: inline-flex;
  white-space: nowrap;
  transition: width 0.5s, padding-right 0.45s;
  /* Transition width and padding to avoid "popping" */
  overflow: hidden;
  padding-left: 5px;
  /* Add default button padding */
}

.search-button:hover span,
.search-button:focus span {
  width: 90%;
  /* how far the text can expand, adjust based on content */
  padding-right: 10px !important;
  /* Adds spacing on the right of the text when expanded */
}

.nav-link {
  color: $myBleuMarine;
  background-color: white;
}

.nav-pills .nav-link.active {
  color:$myBleuMarine;
  background-color: $my-orange;
}

.link-info {
  color: $myBleuMarine !important;;
  background-color: white;
}

/************** PROGRESS BAR ***********************/

.progressbar {
  margin: 0 5% 100px 5%;
  padding: 2em 0 3em;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.progressbar-step {
  text-align: center;
  position: relative;
  width: 100%;

  &:before,
  &:after {
    content: "";
    height: 0.5em;
    background-color: $gray;
    position: absolute;
    z-index: 1;
    width: 100%;
    left: -50%;
    top: 50%;
    transform: translateY(-50%);
    transition: all .25s ease-out;
  }

  &:first-child:before,
  &:first-child:after {
    display: none;
  }

    &:after {
      background-color: $myBleuMarine;
      width: 0%;
    }

  &.is-complete+&.is-current:after,
  &.is-complete+&.is-complete:after {
    width: 100%;
  }
}

.progressbar-icon {
  width: 1.5em;
  height: 1.5em;
  background-color: $gray;
  fill: $gray;
  border-radius: 50%;
  padding: 0.5em;
  max-width: 100%;
  z-index: 10;
  position: relative;
  transition: all .25s ease-out;

  .is-current & {
    fill: $myPurpleStrong;
    background-color: $my-orange;
  }

  .is-complete & {
    fill: $white;
    background-color: $gray;
  }
}

.mps-icon {
  max-height: 100px;
}
.progressbar-step-label {
  display: block;
  //text-transform: uppercase;
  color: $gray !important;
  position: absolute;
  top: 40px;
  margin-top: 2px;
  padding-top: 2px;
  width: 100%;
  max-width: 200px;
  transition: all .25s ease-out;
  text-decoration: none !important;
  //Add your breakpoint to turn off
  //the labels when you need it.

  .is-current>& {
    color: $myBleuMarine !important;
  }

  .is-complete>& {
    color: $gray !important;
  }
}

.stats-bar {
  margin: 0 5% 0 5%;
  padding: 2em 0 3em;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.stats-bar-step {
  text-align: center;
  position: relative;
  width: 100%;
  background-color: $stats-color !important;
  height: 0.5em;
  margin-left: 1px;
  margin-right: 1px;
}

.out{
  background-color: lightgray !important;
}

.is-mediane {
  background-color: $myPurpleStrong !important;
}

.stats-bar-step-label {
  display: block;
    //text-transform: uppercase;
    color: $black !important;
    position: absolute;
    bottom: 10px;
    right: -20px;  
}

.stats-bar-step-label2 {
  display: float;
    //text-transform: uppercase;
    color: $black !important;
    position: relative;
    top: -55px;
      right: -20px;
}


/************** CHOICE ITEMS ***********************/

.card {
  background-color: $card-background-color;
  border-color: $card-border-color !important;
  border-width: 2px !important;
  border-radius: 10px !important;
  color: $myBleuMarine;
}

.card-excluded {
  background-color: lightgray !important;
}

.card-text {
  background-color: $card-text-background-color !important;
  color: $card-text-color !important;
  font-weight: bold !important;
  border-radius : 0;
}

.card-icon {
  color: $card-icon-color;
  background-color: $card-background-color;
}
.card-icon-question {
  color: $card-question-mark-color;
  background-color: $card-background-color;
}

.card-text-excluded {
  background-color: lightgray !important;
}

.card-big-icon {
  color: $myBleuMarine;
}


.btn-success {
  background-color: $myBleuMarine !important;
  color: white !important;
  font-weight: bold !important;
}
.btn-primary {
  background-color: $myBleuMarine !important;
  color: white !important;
  font-weight: bold !important;
}
/*
.modal-content,
.question,
.search_bar,
.accordion-item
 {
  color: $myBleuMarine !important;
  background: white;
  border: solid $myBleuMarine !important;
    border-width: 2px !important;
    border-radius: 10px !important;
}*/

.accordion-button,
.accordion-body {
  color: $myBleuMarine !important;
    background: white;
    border : 0;
}

.btn-no-event {
  pointer-events:none;
}

.sugg-list-excluded {
  background: lightgray;
}

.stats {
  color: black;
  font-weight: bold;
  background: $stats-color;
  border: none;
}

//FOR CODEPEN FORMATTING
.wrapper {
  max-width: 1000px;
  margin: 4em auto;
  font-size: 16px;
}

/*
@font-face {
  font-family: "Marianne";
  src: url("../dsfr/fonts/Marianne-Regular.woff2") format('woff2');
}

@font-face {
  font-family: "Marianne";
  src: url("../dsfr/fonts/Marianne-Bold.woff2") format('woff2');
  font-weight: bold;
}

@font-face {
  font-family: "Marianne";
  src: url("../dsfr/fonts/Marianne-Bold_Italic.woff2") format('woff2');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Marianne";
  src: url("../dsfr/fonts/Marianne-Regular_Italic.woff2") format('woff2');
  font-style: italic;
}*/

.dsfr_light_decision {
  border: 0px solid var(--light-decisions-border-border-default-grey, #DDD);
    background: var(--light-decisions-background-background-raised-grey, #FFF);
    color: var(--light-decisions-text-text-action-high-blue-france, #000091);
      text-align: center;
      text-decoration: none;
    /* Light/Decisions/shadow/raised */
}
.dsfr_shadow {
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 18, 0.16);
}

body {
  font-family: Marianne
}

.modal-80 {
  max-width: 50% !important;
}
//END CODEPEN FORMATTING