/*
----------------------------------------------------------
[Table of contents]

#Print
#Tables
#Forms
#Pagination
#Overlay
#Footer

----------------------------------------------------------
*/
@media print {
  .box-container {
    width: 100% !important;
    margin-left: 0 !important;
  }
  .menu-container {
    width: 100% !important;
  }
  .animate_when_almost_visible {
    opacity: 1 !important;
    animation-name: none !important;
  }
  .icon-box-icon svg path {
    stroke-dasharray: initial !important;
    stroke-dashoffset: initial !important;
  }
}
/*
----------------------------------------------------------

#Tables

----------------------------------------------------------
*/
table {
  empty-cells: show;
  border: 1px solid;
  margin: 18px 0px 0px 0px;
}
table thead {
  text-align: left;
  vertical-align: bottom;
}
table td,
table th {
  background-color: transparent;
  border-left: 1px solid;
  border-bottom: 1px solid;
  font-size: inherit;
  margin: 0;
  overflow: visible;
  padding: 8px 18px 7px 18px;
  font-weight: 600;
}
.tmb table td,
.tmb table th {
  padding: 8px 0px 7px 0px;
  text-align: center;
}
@media (max-width: 959px) {
  table td,
  table th {
    padding: 8px 5px 7px 5px;
  }
  .tmb table td,
  .tmb table th {
    padding: 8px 0px 7px 0px;
  }
}
.media-modal.wp-core-ui table td,
.media-modal.wp-core-ui table th {
  background-color: inherit;
  border-left: inherit;
  border-bottom: inherit;
  padding: inherit;
  font-size: inherit;
  margin: inherit;
  overflow: inherit;
  font-weight: inherit;
}
table td:first-child,
table th:first-child {
  border-left-width: 0;
}
table.table-wide {
  width: 100%;
}
table.table-wide td {
  font-weight: 400;
}
table.table-wide th,
table.table-wide td {
  padding: 12px 18px;
}
/*
----------------------------------------------------------
#Forms
----------------------------------------------------------
*/
label {
  font-size: 14px;
  line-height: 1.75;
  margin: 18px 0 0;
  margin: 0px 0px 5px 0px;
}
form p {
  margin: 18px 0px 0px 0px;
  font-weight: 600;
}
form img.ajax-loader {
  position: absolute;
  left: 50%;
  margin-left: -30px !important;
  bottom: -25px;
}
.comment-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.comment-form p:not(.stars) {
  flex: 0 0 100%;
  margin-top: 27px;
}
.comment-form p:not(.stars) input[type="text"],
.comment-form p:not(.stars) input[type="email"],
.comment-form p:not(.stars) input[type="number"],
.comment-form p:not(.stars) input[type="url"],
.comment-form p:not(.stars) input[type="tel"],
.comment-form p:not(.stars) input[type="search"],
.comment-form p:not(.stars) input[type="password"],
.comment-form p:not(.stars) input[type="date"],
.comment-form p:not(.stars) textarea,
.comment-form p:not(.stars) select,
.comment-form p:not(.stars) .select2-selection--single {
  width: 100%;
}
@media (min-width: 570px) {
  .comment-form p:not(.stars).comment-form-author,
  .comment-form p:not(.stars).comment-form-email,
  .comment-form p:not(.stars).comment-form-url {
    flex: 0 0 calc(33.333% - 18px);
  }
  #review_form_wrapper .comment-form p:not(.stars).comment-form-author,
  #review_form_wrapper .comment-form p:not(.stars).comment-form-email,
  #review_form_wrapper .comment-form p:not(.stars).comment-form-url {
    flex: 0 0 calc(50% - 13.5px);
  }
}
.comment-form p:not(.stars) p.stars {
  margin-top: 0;
}
input,
textarea,
select,
.seldiv,
.select2-choice,
.select2-selection--single {
  display: block;
  line-height: initial;
  margin: 9px 0px 0px 0px;
  padding: 10px 15px 10px 15px;
  border-style: solid;
  border-radius: 2px;
  font-weight: normal;
  background-color: #fff;
  border: 1px solid transparent;
}
.style-dark input,
.style-dark textarea,
.style-dark select,
.style-dark .seldiv,
.style-dark .select2-choice,
.style-dark .select2-selection--single,
.style-light .style-dark input,
.style-light .style-dark textarea,
.style-light .style-dark select,
.style-light .style-dark .seldiv,
.style-light .style-dark .select2-choice,
.style-light .style-dark .select2-selection--single {
  background-color: transparent;
}
.style-dark .style-light input,
.style-dark .style-light textarea,
.style-dark .style-light select,
.style-dark .style-light .seldiv,
.style-dark .style-light .select2-choice,
.style-dark .style-light .select2-selection--single {
  background-color: #fff;
}
html.ie11 input,
html.ie11 textarea,
html.ie11 select {
  min-height: 41px;
  padding-bottom: 0;
  padding-top: 0;
}
input:focus,
textarea:focus,
select:focus {
  outline: 0;
  border-style: solid;
}
.input-underline .wpcf7-inline-wrapper.wpcf7-input-group .wpcf7-inline-field-text {
  padding-right: 3px;
  width: calc(99% - 3px);
}
.input-underline input[type="text"],
.input-underline input[type="email"],
.input-underline input[type="number"],
.input-underline input[type="url"],
.input-underline input[type="tel"],
.input-underline input[type="search"],
.input-underline input[type="password"],
.input-underline input[type="date"],
.input-underline textarea,
.input-underline select,
.input-underline .select2-selection--single {
  border-top: none;
  border-left: none;
  border-right: none;
  box-shadow: none;
  border-radius: 0;
  padding-left: 0 !important;
  padding-right: 0 !important;
  background: none !important;
}
.input-underline input[type="text"]:focus,
.input-underline input[type="email"]:focus,
.input-underline input[type="number"]:focus,
.input-underline input[type="url"]:focus,
.input-underline input[type="tel"]:focus,
.input-underline input[type="search"]:focus,
.input-underline input[type="password"]:focus,
.input-underline input[type="date"]:focus,
.input-underline textarea:focus,
.input-underline select:focus,
.input-underline .select2-selection--single:focus {
  border-top: none;
  border-left: none;
  border-right: none;
}
.input-underline .overlay.overlay-search .search-container .search-container-inner i {
  right: 0;
}
html .input-background .input-underline input[type="text"],
html .input-background .input-underline input[type="email"],
html .input-background .input-underline input[type="number"],
html .input-background .input-underline input[type="url"],
html .input-background .input-underline input[type="tel"],
html .input-background .input-underline input[type="search"],
html .input-background .input-underline input[type="password"],
html .input-background .input-underline input[type="date"],
html .input-background .input-underline textarea,
html .input-background .input-underline select,
html .input-background .input-underline .select2-selection--single {
  background: none !important;
  border-bottom-width: 1px;
}
.input-background input[type="text"],
.input-background input[type="email"],
.input-background input[type="number"],
.input-background input[type="url"],
.input-background input[type="tel"],
.input-background input[type="search"],
.input-background input[type="password"],
.input-background input[type="date"],
.input-background textarea,
.input-background select,
.input-background .select2-selection--single {
  border-color: transparent;
  box-shadow: none;
}
.input-underline .input-background input[type="text"],
.input-underline .input-background input[type="email"],
.input-underline .input-background input[type="number"],
.input-underline .input-background input[type="url"],
.input-underline .input-background input[type="tel"],
.input-underline .input-background input[type="search"],
.input-underline .input-background input[type="password"],
.input-underline .input-background input[type="date"],
.input-underline .input-background textarea,
.input-underline .input-background select,
.input-underline .input-background .select2-selection--single {
  padding-left: 15.3px !important;
  padding-right: 15.3px !important;
}
html .input-background .select2-selection--single,
html .input-background select,
html .input-background textarea {
  border-color: transparent;
}
.form-xl {
  font-size: 18px !important;
  padding: 16px 27px 16px 27px !important;
}
fieldset {
  margin: 0;
  padding: 18px 18px 18px 18px;
  border-style: solid;
  border-width: 1px;
}
.comments-area input[type="text"],
.comments-area input[type="email"],
.comments-area input[type="tel"],
.comments-area input[type="url"] {
  width: 100%;
}
input[type="submit"],
input[type="reset"],
input[type="button"],
button[type="submit"] {
  display: inline-block;
  transition: color 200ms ease-in-out, background-color 200ms ease-in-out, border-color 200ms ease-in-out;
  text-align: center !important;
  vertical-align: middle;
  border-radius: 2px;
  outline: none;
  white-space: nowrap;
  -webkit-text-stroke: 0px;
  width: auto;
  box-shadow: none;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
}
input[type="submit"],
input[type="reset"],
input[type="button"] {
  background-image: none;
}
button[type="submit"]:not(.checkout-button) {
  background-image: none;
}
input[type=checkbox],
input[type=radio] {
  box-sizing: content-box;
  display: inline-block;
  font-size: 1em;
  -webkit-appearance: none;
  margin: 0;
  position: relative;
  text-align: center;
  line-height: normal;
  min-height: 0 !important;
  width: 16px;
  height: 16px;
  box-sizing: border-box;
  vertical-align: middle;
}
.webkit input[type=checkbox],
.webkit input[type=radio],
.android input[type=checkbox],
.android input[type=radio] {
  padding-left: 6px;
  padding-right: 6px;
}
input[type=checkbox]:checked:before,
input[type=radio]:checked:before {
  box-sizing: border-box;
  font-family: "uncodeicon";
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  line-height: 1.2em;
  font-size: 11px;
}
.media-modal.wp-core-ui input[type=checkbox],
.media-modal.wp-core-ui input[type=radio] {
  width: initial;
  height: initial;
  box-sizing: initial;
  vertical-align: initial;
  display: initial;
  font-size: initial;
  margin: initial;
  padding-left: initial;
  padding-right: initial;
  position: initial;
  text-align: initial;
  line-height: initial;
}
.media-modal.wp-core-ui input[type=checkbox] {
  -webkit-appearance: checkbox;
}
input[type=radio] {
  border-radius: 50%;
}
.media-modal.wp-core-ui input[type=radio] {
  -webkit-appearance: radio;
}
input[type=radio]:checked:before {
  content: "";
  border-radius: 100%;
  width: 45%;
  height: 45%;
}
input[type=checkbox]:checked:before {
  content: "\e116";
  font-weight: 600;
}
input[type="file"],
input[type="range"] {
  background-color: transparent !important;
  padding: 0;
  border: 0;
  box-shadow: none;
  width: auto;
}
input[type="search"] {
  box-sizing: border-box;
  -webkit-appearance: none;
}
.menu-smart input[type="search"] {
  width: 100%;
}
textarea {
  width: 100%;
  resize: none;
}
.seldiv {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  padding: 0;
  box-shadow: none !important;
}
.seldiv select {
  box-shadow: none !important;
  margin: 0;
  border: none;
}
.seldiv:after {
  background: none;
  font-family: "uncodeicon";
  content: "\f107";
  font-size: 12px;
  font-weight: 500;
  padding: 0;
  position: absolute;
  right: 18px;
  top: 19px;
  z-index: 1;
  pointer-events: none;
}
.seldiv:before {
  border-left-style: solid;
  height: 100%;
  position: absolute;
  content: "";
  font-size: 12px;
  right: 51px;
}
select {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  -webkit-appearance: none;
  appearance: none;
  border-style: solid;
  border-color: transparent;
  -moz-appearance: none;
  outline: none;
  background-position: 100% center;
  background-repeat: no-repeat;
  box-shadow: none !important;
}
.rtl select {
  background-position: 0% center;
}
select:focus {
  outline: none;
}
select::-ms-expand {
  display: none;
}
.style-light select:not([multiple]) {
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iNTBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgNTAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDUwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cGF0aCBkPSJNMjIuNiw4YzAtMC4xLDAtMC4yLDAuMS0wLjJsMC41LTAuNWMwLjEtMC4xLDAuMS0wLjEsMC4yLTAuMWMwLjEsMCwwLjIsMCwwLjIsMC4xbDMuNywzLjdsMy43LTMuN2MwLjEtMC4xLDAuMS0wLjEsMC4yLTAuMXMwLjIsMCwwLjIsMC4xTDMyLDcuOEMzMiw3LjksMzIuMSw4LDMyLjEsOGMwLDAuMSwwLDAuMi0wLjEsMC4ybC00LjQsNC40Yy0wLjEsMC4xLTAuMSwwLjEtMC4yLDAuMXMtMC4yLDAtMC4yLTAuMWwtNC40LTQuNEMyMi43LDguMiwyMi42LDguMSwyMi42LDh6Ii8+PC9zdmc+");
}
.style-dark select:not([multiple]) {
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iNTBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgNTAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDUwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cGF0aCBmaWxsPSIjRkZGRkZGIiBkPSJNMjIuNiw4YzAtMC4xLDAtMC4yLDAuMS0wLjJsMC41LTAuNWMwLjEtMC4xLDAuMS0wLjEsMC4yLTAuMWMwLjEsMCwwLjIsMCwwLjIsMC4xbDMuNywzLjdsMy43LTMuN2MwLjEtMC4xLDAuMS0wLjEsMC4yLTAuMXMwLjIsMCwwLjIsMC4xTDMyLDcuOEMzMiw3LjksMzIuMSw4LDMyLjEsOGMwLDAuMSwwLDAuMi0wLjEsMC4ybC00LjQsNC40Yy0wLjEsMC4xLTAuMSwwLjEtMC4yLDAuMXMtMC4yLDAtMC4yLTAuMWwtNC40LTQuNEMyMi43LDguMiwyMi42LDguMSwyMi42LDh6Ii8+PC9zdmc+");
}
.media-modal.wp-core-ui select {
  display: initial;
  min-width: inherit;
  -webkit-appearance: menulist-button;
  appearance: menulist-button;
}
select option {
  color: initial !important;
}
.form-text-center {
  text-align: center !important;
}
.form-fluid {
  width: 100% !important;
}
.form-circle {
  border-radius: 10em;
  padding-right: 30px;
  padding-left: 30px;
}
.hide-placeholders input::placeholder,
.hide-placeholders textarea::placeholder {
  color: transparent !important;
}
button[disabled],
html input[disabled] {
  cursor: not-allowed;
}
.gform_wrapper input[type=email],
.gform_wrapper input[type=number],
.gform_wrapper input[type=password],
.gform_wrapper input[type=tel],
.gform_wrapper input[type=text],
.gform_wrapper input[type=url] {
  padding: 10px 15px !important;
}
.gform_wrapper label.gfield_label + div.ginput_container {
  margin: 0px !important;
}
.gfield_select {
  min-width: inherit !important;
}
.ui-datepicker select {
  display: inline;
  -webkit-appearance: menulist;
  -moz-appearance: menulist;
  appearance: menulist;
  max-width: none;
  min-width: auto;
  width: auto;
  background: none;
}
.ui-datepicker table {
  border: none;
}
.ui-datepicker table td,
.ui-datepicker table th {
  border: none;
}
.webkit .frm_forms input[type=checkbox],
.webkit .frm_forms input[type=radio],
.android .frm_forms input[type=checkbox],
.android .frm_forms input[type=radio] {
  height: auto;
}
.wpforms-container input[type=checkbox],
.wpforms-container input[type=radio] {
  -webkit-appearance: checkbox;
}
.frm_forms input[type=radio]:checked:before,
.frm_forms input[type=checkbox]:checked:before,
.frm_forms input[type=radio]:checked:before,
.wpforms-container input[type=radio]:checked:before,
.wpforms-container input[type=checkbox]:checked:before,
.wpforms-container input[type=radio]:checked:before {
  display: none;
}
.grecaptcha-badge {
  z-index: 1;
}
.comment-form-cookies-consent label {
  font-size: 13px;
  font-weight: 400;
}
body:not(.rtl) .comment-form-cookies-consent label {
  padding-left: 12px;
}
body.rtl .comment-form-cookies-consent label {
  padding-right: 12px;
}
.search-container-inner {
  position: relative;
}
.search-container-inner input {
  padding-right: 36px;
}
.rtl .search-container-inner input {
  padding-left: 36px;
  padding-right: 18px;
}
.search-container-inner i.fa {
  cursor: pointer;
  position: absolute;
  right: 0.35em;
  top: calc(50% - 1em);
  margin-top: -9px;
  padding: 1em;
}
.rtl .search-container-inner i.fa {
  left: 0.35em;
  right: auto;
}
.form-fluid {
  width: 100% !important;
}
.form-circle {
  border-radius: 10em;
  padding-right: 30px;
  padding-left: 30px;
}
.pagination,
.navigation {
  display: table;
  table-layout: fixed;
  text-align: center;
  width: 100%;
  padding-left: 0;
  margin: 0;
  border-radius: 2px;
}
.pagination > li > a,
.navigation > li > a,
.pagination > li > span,
.navigation > li > span {
  margin-top: 0px;
}
.pagination > li:first-child > a,
.navigation > li:first-child > a,
.pagination > li:first-child > span,
.navigation > li:first-child > span {
  margin-left: 0;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}
.pagination > li:last-child > a,
.navigation > li:last-child > a,
.pagination > li:last-child > span,
.navigation > li:last-child > span {
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
}
.pagination > li .page-numbers,
.navigation > li .page-numbers {
  display: block;
  width: 36px;
  height: 36px;
  line-height: 36px;
  margin-top: 4.5px;
  margin-bottom: 4.5px;
  border-radius: 50%;
  font-size: 12px;
  font-weight: 500;
}
.pagination > li .current,
.navigation > li .current,
.pagination > li .current:hover,
.navigation > li .current:hover,
.pagination > li .current:focus,
.navigation > li .current:focus {
  z-index: 2;
  background-color: #eeeeee;
  color: #333333 !important;
  cursor: default;
}
.pagination > .disabled > span,
.navigation > .disabled > span,
.pagination > .disabled > span:hover,
.navigation > .disabled > span:hover,
.pagination > .disabled > span:focus,
.navigation > .disabled > span:focus,
.pagination > .disabled > a,
.navigation > .disabled > a,
.pagination > .disabled > a:hover,
.navigation > .disabled > a:hover,
.pagination > .disabled > a:focus,
.navigation > .disabled > a:focus {
  color: #999999;
  background-color: #ffffff;
  cursor: not-allowed;
}
.pagination .btn,
.navigation .btn {
  border: none;
}
.pagination .page-prev,
.navigation .page-prev {
  width: 33.33333%;
  border: 0px;
  text-align: left;
}
@media (max-width: 569px) {
  .pagination .page-prev,
  .navigation .page-prev {
    width: 20px !important;
  }
}
.pagination .page-prev .btn-link,
.navigation .page-prev .btn-link {
  text-align: left;
  position: relative;
  transform: none !important;
}
.pagination .page-prev > a,
.navigation .page-prev > a,
.pagination .page-prev > span,
.navigation .page-prev > span {
  border-radius: 0px;
  width: 100%;
}
.pagination .page-prev .btn,
.navigation .page-prev .btn {
  margin-left: 0px !important;
}
.pagination .page-prev i,
.navigation .page-prev i {
  display: inline-block;
  margin-right: 14px;
  font-size: 18px;
  line-height: inherit;
  vertical-align: baseline;
}
.pagination .page-prev i::before,
.navigation .page-prev i::before {
  vertical-align: text-bottom;
}
.pagination .page-prev .btn span,
.navigation .page-prev .btn span {
  display: inline-block;
  transition: transform 0.2s;
}
@media (max-width: 569px) {
  .pagination .page-prev .btn span,
  .navigation .page-prev .btn span {
    display: none;
  }
}
.pagination .page-prev .btn span:hover,
.navigation .page-prev .btn span:hover {
  transform: translateX(-4px);
}
.pagination .page-next,
.navigation .page-next {
  width: 33.33333%;
  border: 0px;
  text-align: right;
}
@media (max-width: 569px) {
  .pagination .page-next,
  .navigation .page-next {
    width: 20px !important;
  }
}
.pagination .page-next .btn-link,
.navigation .page-next .btn-link {
  text-align: right;
  position: relative;
  transform: none !important;
}
.pagination .page-next > a,
.navigation .page-next > a,
.pagination .page-next > span,
.navigation .page-next > span {
  border-radius: 0px;
  width: 100%;
}
.pagination .page-next .btn,
.navigation .page-next .btn {
  margin-right: 0px !important;
}
.pagination .page-next i,
.navigation .page-next i {
  display: inline-block;
  margin-left: 14px;
  margin-right: 0;
  font-size: 18px;
  line-height: inherit;
  vertical-align: baseline;
}
.pagination .page-next i::before,
.navigation .page-next i::before {
  vertical-align: text-bottom;
}
.pagination .page-next .btn span,
.navigation .page-next .btn span {
  display: inline-block;
  transition: transform 0.2s;
}
@media (max-width: 569px) {
  .pagination .page-next .btn span,
  .navigation .page-next .btn span {
    display: none;
  }
}
.pagination .page-next .btn span:hover,
.navigation .page-next .btn span:hover {
  transform: translateX(4px);
}
@media (max-width: 569px) {
  .pagination .btn-disable-hover,
  .navigation .btn-disable-hover {
    font-size: 0px;
  }
}
.pagination > li {
  display: inline-block;
}
.pagination > li > .btn {
  padding: 0px !important;
  margin: 0px !important;
}
.pagination > li > a,
.pagination > li > span {
  width: 35px;
}
.pagination > li i {
  line-height: 45px !important;
  top: 0px !important;
}
.pagination .page-prev {
  float: left;
  width: 54px;
}
.pagination .page-prev > a,
.pagination .page-prev > span {
  text-align: left;
  border-radius: 0px;
  width: 100%;
}
.pagination .page-next {
  float: right;
  width: 54px;
}
.pagination .page-next > a,
.pagination .page-next > span {
  text-align: right;
  border-radius: 0px;
  width: 100%;
}
.navigation > li {
  display: table-cell;
}
.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 18px;
}
.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
  border-bottom-left-radius: 16px;
  border-top-left-radius: 16px;
}
.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
  border-bottom-right-radius: 16px;
  border-top-right-radius: 16px;
}
.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
}
.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  border-bottom-left-radius: 1px;
  border-top-left-radius: 1px;
}
.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-bottom-right-radius: 1px;
  border-top-right-radius: 1px;
}
.row-navigation .nav-back .btn-link {
  transform: none !important;
}
.main-container .row-navigation .row-parent {
  padding-bottom: 18px;
}
.main-container .row-navigation .row-parent nav.post-navigation {
  padding-bottom: 18px;
}
.page-links > *:first-child {
  margin-left: 9px;
}
.page-links span {
  display: inline-block;
  text-align: center;
  width: 36px;
  height: 36px;
  line-height: 36px;
  background-color: rgba(238, 238, 238, 0.6);
  border-radius: 50%;
}
.page-links a {
  display: inline-block;
  border-radius: 50%;
  background-color: #eeeeee;
  color: #333333 !important;
  cursor: pointer;
}
/*
----------------------------------------------------------

#Overlay

----------------------------------------------------------
*/
html.overlay-open,
html.overlay-open body {
  overflow: hidden;
}
html.overlay-open .menu-container {
  transition: background 0.5s, box-shadow 0.5s, border 0.5s;
}
html.overlay-open .menu-container {
  background: transparent !important;
}
html.overlay-open .menu-shadows {
  box-shadow: none !important;
}
html.overlay-open .menu-borders {
  border-color: transparent !important;
}
body.menu-overlay #masthead {
  z-index: 10001;
}
body.menu-overlay.uncode-unmodal-overlay-visible #masthead {
  z-index: 1000;
}
@keyframes overlay_focus {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.3;
  }
}
.overlay-menu-focus {
  display: none;
  height: 100%;
  left: 0;
  opacity: 0.3;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
}
body.open-megamenu .overlay-menu-focus {
  display: block;
}
@media (min-width: 960px) {
  body.menu-dd-search-open .overlay-menu-focus {
    display: block;
    animation-name: overlay_focus;
    animation-duration: 0.5s;
    animation-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
  }
  body.menu-dd-search-closing .overlay-menu-focus {
    opacity: 0;
    transition: opacity 0.5s 0s cubic-bezier(0.22, 1, 0.36, 1);
  }
}
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s 0.5s, visibility 0s 1s, z-index 0s 1s;
}
@media (max-width: 959px) {
  .overlay.overlay-menu {
    height: auto;
  }
}
#masthead .overlay {
  height: auto;
  position: absolute;
  top: auto;
  z-index: -1;
  transform-origin: top;
  margin-top: -20px;
}
#masthead .overlay:not(.overlay-search-trid) {
  transition: opacity 0.2s 0s cubic-bezier(0.22, 1, 0.36, 1), margin 0.2s 0s cubic-bezier(0.22, 1, 0.36, 1), visibility 0s 1s, z-index 0s 1s;
}
#masthead .overlay.overlay-search-trid {
  transform: perspective(35em) rotateX(-35deg) scale(0.975);
  transition: opacity 0.2s 0s cubic-bezier(0.22, 1, 0.36, 1), margin 0.2s 0s cubic-bezier(0.22, 1, 0.36, 1), transform 0.2s 0.2s cubic-bezier(0.22, 1, 0.36, 1), visibility 0s 1s, z-index 0s 1s;
}
@media (max-width: 959px) {
  body.menu-dd-search:not(.menu-dd-search-mobile) #masthead .overlay {
    display: none;
  }
}
#masthead .overlay .overlay-search-wrapper {
  opacity: 0;
  position: relative;
  transform: translateY(15%);
  transition: border-width 0.2s 0s cubic-bezier(0.22, 1, 0.36, 1), opacity 0.2s 0s cubic-bezier(0.22, 1, 0.36, 1), transform 0.2s 0s cubic-bezier(0.22, 1, 0.36, 1);
}
#masthead .overlay .overlay-search-wrapper .search-container {
  display: block;
}
#masthead .overlay .overlay-search-wrapper .search-container form .search-container-inner input {
  background: transparent !important;
  border: 0px !important;
  box-shadow: none !important;
  font-size: 1.5em;
  padding: 9px 0 !important;
}
#masthead .overlay i.fa.fa-search3 {
  display: none !important;
}
#masthead .overlay .search-container-inner {
  padding-right: 36px;
}
#masthead .overlay .mmb-container,
#masthead .overlay .mobile-menu-button.menu-close-search {
  height: 100%;
}
#masthead .overlay .mobile-menu-button.menu-close-search::after {
  content: "\e117";
  display: block;
  font-family: "uncodeicon";
}
#masthead .overlay .lines-button .lines {
  display: none;
}
@media (min-width: 960px) {
  .menu-container:not(.menu-borders) .overlay .overlay-search-wrapper {
    border-top-width: 0;
    border-top-style: solid;
  }
}
@media (max-width: 959px) {
  body.menu-mobile-borders .overlay .overlay-search-wrapper {
    border-top-width: 0;
    border-top-style: solid;
  }
}
.overlay .overlay-bg {
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
body.open-overlay-menu .overlay.overlay-menu {
  opacity: 1;
  visibility: visible;
  transition: opacity 0s 0s, visibility 0s 0s;
}
.overlay input {
  background-color: transparent !important;
}
.overlay.open {
  opacity: 1;
  visibility: visible;
  z-index: 10000;
  transition: opacity 0.5s;
}
#masthead .overlay.open {
  z-index: 0;
  margin-top: 0px;
}
#masthead .overlay.open:not(.overlay-search-trid) {
  transition: opacity 0.5s 0s cubic-bezier(0.22, 1, 0.36, 1), margin 0.5s 0s cubic-bezier(0.22, 1, 0.36, 1);
}
#masthead .overlay.open.overlay-search-trid {
  transform: scale(1);
  transition: opacity 0.5s 0s cubic-bezier(0.22, 1, 0.36, 1), margin 0.5s 0s cubic-bezier(0.22, 1, 0.36, 1), transform 0.5s 0s cubic-bezier(0.22, 1, 0.36, 1);
}
#masthead .overlay.open .overlay-search-wrapper {
  border-top-width: 1px;
  opacity: 1;
  transform: translateY(0%);
  transition: border-color 0.65s 0.1s cubic-bezier(0.22, 1, 0.36, 1), opacity 0.65s 0.1s cubic-bezier(0.22, 1, 0.36, 1), transform 0.65s 0.1s cubic-bezier(0.22, 1, 0.36, 1);
}
@media (min-width: 960px) {
  .menu-container:not(.menu-borders) .overlay.open .overlay-search-wrapper {
    border-top-width: 1px;
  }
}
@media (max-width: 959px) {
  body.menu-mobile-borders .overlay.open .overlay-search-wrapper {
    border-top-width: 1px;
  }
}
@media (min-width: 960px) {
  .menu-container:not(.menu-borders) .overlay:not(.open) .overlay-search-wrapper {
    border-top-color: transparent !important;
  }
}
@media (max-width: 959px) {
  body.menu-mobile-borders .overlay:not(.open) .overlay-search-wrapper {
    border-top-color: transparent !important;
  }
}
.overlay .navbar-main,
.overlay .search-container {
  perspective: 1200px;
}
@media (min-width: 960px) {
  .overlay.overlay-contentscale .menu-sidebar-inner,
  .overlay.overlay-contentscale .search-container form {
    opacity: 0;
    transform: translateY(-35%) rotateX(45deg);
  }
  .open.overlay.overlay-contentscale .menu-sidebar-inner,
  .open.overlay.overlay-contentscale .search-container form {
    opacity: 1;
    transform: rotateX(0deg);
    transition: transform 0.5s 0.5s, opacity 0.5s 0.5s;
  }
  .close.overlay.overlay-contentscale .menu-sidebar-inner,
  .close.overlay.overlay-contentscale .search-container form {
    transform: translateY(35%) rotateX(-45deg);
    transition: transform 0.5s, opacity 0.5s;
  }
  .overlay.overlay-sequential .menu-sidebar-inner .menu-smart > li,
  .overlay.overlay-sequential .uncode-menu-additional-text,
  .overlay.overlay-sequential .search-container form {
    opacity: 0;
    transform: translateY(-40px);
    animation-timing-function: cubic-bezier(0.45, 0.005, 0, 1);
  }
  .open-items.overlay.overlay-sequential .menu-sidebar-inner .menu-smart > li,
  .open-items.overlay.overlay-sequential .uncode-menu-additional-text,
  .open-items.overlay.overlay-sequential .search-container form {
    opacity: 1;
    transform: translateY(0px);
    transition: transform 0.2s, opacity 0.2s;
  }
  .close.overlay.overlay-sequential .menu-sidebar-inner .menu-smart > li,
  .close.overlay.overlay-sequential .uncode-menu-additional-text,
  .close.overlay.overlay-sequential .search-container form {
    transform: translateY(0px);
    transition: opacity 0.4s 0s !important;
  }
  .overlay.overlay-simple .menu-sidebar-inner .menu-smart > li,
  .overlay.overlay-simple .uncode-menu-additional-text,
  .overlay.overlay-simple .search-container form {
    opacity: 0;
    animation-timing-function: cubic-bezier(0.45, 0.005, 0, 1);
    transform: translateY(-0.5em);
  }
  .open.overlay.overlay-simple .menu-sidebar-inner .menu-smart > li,
  .open.overlay.overlay-simple .uncode-menu-additional-text,
  .open.overlay.overlay-simple .search-container form {
    transform: translateY(0px);
    opacity: 1;
    transition: transform 0.4s 0.5s cubic-bezier(0.35, 0.81, 0.41, 1), opacity 0.4s 0.5s;
  }
  .close.overlay.overlay-simple .menu-sidebar-inner .menu-smart > li,
  .close.overlay.overlay-simple .uncode-menu-additional-text,
  .close.overlay.overlay-simple .search-container form {
    transition: transform 1s 0s cubic-bezier(0.35, 0.81, 0.41, 1), opacity 0.4s 0s !important;
  }
}
.overlay.overlay-search {
  display: table;
  table-layout: fixed;
  height: 100%;
  overflow: hidden;
  width: 100%;
  text-align: center;
  z-index: 10002;
}
.overlay.overlay-search .mmb-container {
  display: inline-flex;
  height: auto;
  position: absolute;
  right: 0;
  top: 0px;
  z-index: 10003;
}
.overlay.overlay-search .search-container {
  display: table-cell;
  perspective: none;
  vertical-align: middle;
  width: 100%;
  font-size: 28px;
  font-size: 3.5vh;
}
@media (max-width: 569px) {
  .overlay.overlay-search .search-container {
    font-size: 18px;
  }
}
.overlay.overlay-search .search-container .search-container-inner {
  width: 100%;
  max-width: none;
}
.overlay.overlay-search .search-container .search-container-inner i {
  cursor: pointer;
  margin-top: -1.5em;
  padding: 1em;
  right: 0.5em;
  top: 50%;
}
.overlay.overlay-search .search-container form {
  display: inline-block;
  width: 100%;
  max-width: 600px;
  max-width: 60vw;
  padding-top: 100px;
  padding-bottom: 100px;
}
@media (min-width: 960px) {
  .overlay.overlay-search .search-container form {
    max-width: 60vw;
  }
}
@media (max-width: 959px) {
  .overlay.overlay-search .search-container form {
    max-width: calc(100% - 72px);
  }
}
#masthead .overlay.overlay-search .search-container form {
  max-width: calc(100% - 72px);
  padding-top: 18px;
  padding-bottom: 18px;
}
.overlay.overlay-search .search-container form .search-container-inner input {
  display: inline-block;
  margin: 0px;
  width: 100%;
  font-size: 28px;
  font-size: 3.5vh;
  padding: .8em 3em .8em 1.5em;
}
@media (max-width: 569px) {
  .overlay.overlay-search .search-container form .search-container-inner input {
    font-size: 16px;
  }
}
.overlay .overlay-close.no-toggle {
  opacity: 0;
  transition: opacity 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.overlay .row-parent {
  margin-bottom: 0 !important;
}
@media (max-width: 959px) {
  body.menu-dd-search.menu-dd-search-mobile .overlay.overlay-full {
    display: none;
  }
}
@media (min-width: 960px) {
  body.menu-dd-search .overlay.overlay-full {
    display: none;
  }
}
@media (min-width: 960px) {
  body.menu-offcanvas #masthead .menu-borders .overlay.open {
    margin-top: 1px;
  }
}
/*
----------------------------------------------------------

#Footer

----------------------------------------------------------
*/
footer {
  width: 100%;
}
body:not(.compose-mode) footer#colophon {
  display: table-row;
  height: 1px;
}
body.compose-mode footer.has_content_block {
  position: relative;
}
footer .footer-last {
  font-size: 0.875em;
}
footer .footer-last p {
  font-size: 13px;
}
footer .footer-last .icon-box.icon-inline {
  line-height: 13px;
  padding-left: 9px;
  padding-right: 9px;
}
@media (max-width: 959px) {
  footer .footer-last {
    padding-top: 36px;
    padding-bottom: 36px;
  }
  footer .footer-last .uncell {
    display: block;
    text-align: center;
  }
  footer .footer-last .uncell + .uncell {
    padding-top: 0;
  }
}
footer .footer-last .uncell {
  padding-top: 27px;
  padding-bottom: 27px;
}
footer .footer-last .uncell > *:first-child {
  margin-top: 0;
}
footer .footer-center {
  padding-top: 108px;
  padding-bottom: 108px;
}
footer .footer-center .uncell {
  display: block;
  padding-top: 0;
  padding-bottom: 0;
  width: 100%;
}
footer .footer-center .uncell + .uncell {
  padding-top: 27px;
}
.chrome footer .footer-center .uncell {
  height: 100%;
}
footer .footer-last.footer-center .social-icon i,
.uncode-vc-social.icons-lead .social-icon i {
  font-size: 24px;
}
footer .footer-last:not(.footer-center) .social-icon i,
.uncode-vc-social:not(.icons-lead) .social-icon i {
  font-size: 18px;
}
.footer-links span {
  line-height: 2.5em !important;
}
.vmenu-footer {
  padding: 36px 54px 0px 54px;
  font-size: 12px;
}
.vmenu-footer p {
  font-size: 12px;
}
.vmenu-footer > *:first-child {
  margin-top: 0;
}
.footer-scroll-top {
  z-index: 100;
  display: none;
  position: fixed;
  right: 22px;
  bottom: 22px;
}
.footer-scroll-top.footer-scroll-circle i {
  border-radius: 100%;
}
@media (min-width: 960px) {
  .footer-scroll-top.footer-scroll-higher {
    bottom: 61px;
  }
}
.footer-scroll-top:not(.window-scrolled) {
  opacity: 0;
  transition: opacity 0.5s;
}
.window-scrolled .footer-scroll-top {
  opacity: 1;
  display: block;
  animation-name: alpha-in;
  animation-duration: 0.5s;
}
.hide-scrollup .footer-scroll-top {
  display: block;
}
.footer-scroll-top i {
  border-radius: 2px;
  width: 2em;
  height: 2em;
  line-height: 2em;
}
.window-scrolled .touch .footer-scroll-top:hover {
  opacity: .8;
}
@media (min-width: 960px) {
  .chrome .site-info {
    height: auto !important;
  }
}
