server {
    listen ${NGINX_PORT};
    server_name ${NGINX_HOSTNAME};

    location / {
        root ${NGINX_ROOT};
        index index.html;
        try_files $uri /index.html$is_args$args =404;
    }
}
