// Import all of Bootstrap's CSS

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

/*orig ben $question-color: rgb(65, 85, 108);*/
/*orig ben $interest-color: rgb(42, 50, 67);*/
$interest-color: rgb(165, 219, 208);
$trashItemIconColor: rgba(231, 76, 60, 1);
$myPurpleLight: #F4F4FF;
$myPurple: #E3E3FD;
$myPurpleStrong: #6A6AFD;
$myBleuMarine: #000091;
$my-orange: #ffe169;
$interest-color: $myPurpleStrong;
//$question-color: rgb(183, 212, 246);
$question-color: rgb(147, 145, 191);;
$btn-primary-colour: #8d2c27;
$btn-primary-focus-colour: #ba3a34;
$active-color: #31d2f2;
$gray: gray;

$card-question-mark-color: #5982E0;
$card-text-color: #000091;
$card-text-background-color: rgba(131, 131, 234, 0.19);
$card-icon-color: #6A6AF4;
$card-border-color: $card-icon-color;
$card-background-color: white;
$stats-color: #B6CFFB;

.body {
  background-color: $myPurpleLight;
}

.bg-light2 {
  background-color: $myPurpleLight;
}

.myBleuMarine {
  color: $myBleuMarine;
}

.btn-url {
  background-color: $myBleuMarine;
}

.descriptif-formation {
background-color: $myPurple;
color: $myBleuMarine;

}

.yellow-hr{
  height: 4px;
  background-color: $my-orange;
  border-color: $my-orange;
  border: 0;
  text-decoration: none;
  opacity: 1.0;
}
.blue-hr {
  height: 4px;
    border: 0;
    text-decoration: none;
    opacity: 1.0;
  background-color: $myBleuMarine;
  border-color: $myBleuMarine;
}

.pourquoi {
  color: $myBleuMarine;
}

.no_hover {
  pointer-events: none;
}

.bg-white {
  background-color: #ffffff;
}/*
$question-color: #4e639e;
$interest-color: #7fbfdd;
$trashItemIconColor: rgba(231, 76, 60, 1);
$btn-primary-colour: #8d2c27;
$btn-primary-focus-colour: #ba3a34;
$active-color: #31d2f2;
*/
/*
$question-color: #064c72;
$interest-color: #026c80;
$trashItemIconColor: rgba(231, 76, 60, 1);
$btn-primary-colour: #e9311a;
$btn-primary-focus-colour: #ba3a34;
$active-color: #31d2f2;
*/

$accordion-color: $interest-color;
$accordion-button-color: $interest-color;
$accordion-button-bg: white;
$accordion-border-width: 0px;
$accordion-button-active-color: $interest-color;
$accordion-button-active-bg: white;
$accordion-icon-color: $myBleuMarine;
$accordion-icon-active-color: myBleuMarine;
$accordion-icon-transition: transform 0.2s ease-in-out;
$accordion-button-focus-box-shadow: 0;
$accordion-button-focus-border-color: $interest-color;

@import "~bootstrap/scss/bootstrap";

/*
.accordion-item:hover {
  background-color: $accordion-button-color;
}*/

.accordion-button[excluded] {
  background-color: lightgray;
}
.accordion-item[excluded] {
  background-color: lightgray;
}

.bg-excluded {
  background-color: lightgray;
}

.accordion-collapse {
  background-color: $accordion-button-color;
}

.accordion-body[excluded] {
  background-color: lightgray;
}

/* Style the tab */
.nav-tabs {
  overflow: hidden;
  /*border: 1px solid #ccc;*/
  border: none;
  background-color: #f1f1f1;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
  z-index: 1000;
}

/* Style the buttons that are used 
  to open the tab content */
.nav-item {
  background-color: inherit;
}

.red-heart {
  fill: red;
  fill-opacity: 0.5;
  color: red
}

/* Change background color of buttons 
  on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current 
  tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  /*border: 1px solid #ccc;*/
  border: none;
  border-top: none;
}

.interest,
.interested,
.interested:hover {
  background: $interest-color;
  color: white;
}

.notinterested,
.notinterested:hover {
  background: $myPurpleLight;
  color: $interest-color;
}

.table,
.statsAdmisDiv {
  background: $myPurpleLight;
  color: $interest-color;
}

.trashItemIcon {
  color: $trashItemIconColor;
}


.btn-info {
  color: $myBleuMarine;
  background-color: $myPurple;
  border: none;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info,
.open {
  color: $myBleuMarine;
  background-color: $myPurpleLight;
  border-color: $myPurpleStrong;
}


.btn-question {
  color: $myBleuMarine;
  background-color: $question-color;
  border-color: $question-color;
}

.btn-question:hover,
.btn-question:focus,
.btn-question:active,
.btn-question.active,
.open {
  color: $myBleuMarine;
  background-color: $question-color;
  border-color: $question-color;
}

.btn-primary {
  color: #ffffff;
  background-color: $btn-primary-colour;
  border-color: $btn-primary-colour;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: $btn-primary-focus-colour;
  border-color: $btn-primary-focus-colour;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: $btn-primary-focus-colour;
  border-color: $btn-primary-colour;
}

.btn-primary .badge {
  color: $btn-primary-colour;
  background-color: white;
}


.table {
  vertical-align: middle;
  table-layout: fixed;
}

.horizontal-scrollable > .row {
  overflow-x: scroll;
  white-space: nowrap;
}

.horizontal-scrollable > .row > .col {
  display: inline-block;
  overflow-y: wrap;
  float: none;
}

.sugg_list_item {
  min-height: 217px;
  min-width: 217px;
}

.icon-homepage {
  max-width: 200px;
  max-height: 100px;
}
.search-button {
  padding-right: 0px !important;
  /* Remove default padding */
}

.search-button span {
  display: inline-flex;
  white-space: nowrap;
  transition: width 0.5s, padding-right 0.45s;
  /* Transition width and padding to avoid "popping" */
  overflow: hidden;
  padding-left: 5px;
  /* Add default button padding */
}

.search-button:hover span,
.search-button:focus span {
  width: 90%;
  /* how far the text can expand, adjust based on content */
  padding-right: 10px !important;
  /* Adds spacing on the right of the text when expanded */
}

.nav-link {
  color: $myBleuMarine;
  background-color: white;
}

.nav-pills .nav-link.active {
  color:$myBleuMarine;
  background-color: $my-orange;
}

.link-info {
  color: $myBleuMarine !important;;
  background-color: white;
}

/************** PROGRESS BAR ***********************/

.progressbar {
  margin: 0 5% 100px 5%;
  padding: 2em 0 3em;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.progressbar-step {
  text-align: center;
  position: relative;
  width: 100%;

  &:before,
  &:after {
    content: "";
    height: 0.5em;
    background-color: $gray;
    position: absolute;
    z-index: 1;
    width: 100%;
    left: -50%;
    top: 50%;
    transform: translateY(-50%);
    transition: all .25s ease-out;
  }

  &:first-child:before,
  &:first-child:after {
    display: none;
  }

    &:after {
      background-color: $myBleuMarine;
      width: 0%;
    }

  &.is-complete+&.is-current:after,
  &.is-complete+&.is-complete:after {
    width: 100%;
  }
}

.progressbar-icon {
  width: 1.5em;
  height: 1.5em;
  background-color: $gray;
  fill: $gray;
  border-radius: 50%;
  padding: 0.5em;
  max-width: 100%;
  z-index: 10;
  position: relative;
  transition: all .25s ease-out;

  .is-current & {
    fill: $myPurpleStrong;
    background-color: $my-orange;
  }

  .is-complete & {
    fill: $white;
    background-color: $gray;
  }
}

.mps-icon {
  max-height: 100px;
}
.progressbar-step-label {
  display: block;
  //text-transform: uppercase;
  color: $gray !important;
  position: absolute;
  top: 40px;
  margin-top: 2px;
  padding-top: 2px;
  width: 100%;
  max-width: 200px;
  transition: all .25s ease-out;
  text-decoration: none !important;
  //Add your breakpoint to turn off
  //the labels when you need it.

  .is-current>& {
    color: $myBleuMarine !important;
  }

  .is-complete>& {
    color: $gray !important;
  }
}

.stats-bar {
  margin: 0 5% 0 5%;
  padding: 2em 0 3em;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.stats-bar-step {
  text-align: center;
  position: relative;
  width: 100%;
  background-color: $stats-color !important;
  height: 0.5em;
  margin-left: 1px;
  margin-right: 1px;
}

.out{
  background-color: lightgray !important;
}

.is-mediane {
  background-color: $myPurpleStrong !important;
}

.stats-bar-step-label {
  display: block;
    //text-transform: uppercase;
    color: $black !important;
    position: absolute;
    bottom: 10px;
    right: -20px;  
}

.stats-bar-step-label2 {
  display: float;
    //text-transform: uppercase;
    color: $black !important;
    position: relative;
    top: -55px;
      right: -20px;
}


/************** CHOICE ITEMS ***********************/

.card {
  background-color: $card-background-color;
  border-color: $card-border-color !important;
  border-width: 2px !important;
  border-radius: 10px !important;
  color: $myBleuMarine;
}

.card-excluded {
  background-color: lightgray !important;
}

.card-text {
  background-color: $card-text-background-color !important;
  color: $card-text-color !important;
  font-weight: bold !important;
  border-radius : 0;
}

.card-icon {
  color: $card-icon-color;
  background-color: $card-background-color;
}
.card-icon-question {
  color: $card-question-mark-color;
  background-color: $card-background-color;
}

.card-text-excluded {
  background-color: lightgray !important;
}

.card-big-icon {
  color: $myBleuMarine;
}

.tab-title,
.card-title {
  color: $myBleuMarine !important;
  text-decoration: none !important;
}

.btn-success {
  background-color: $myBleuMarine !important;
  color: white !important;
  font-weight: bold !important;
}
.btn-primary {
  background-color: $myBleuMarine !important;
  color: white !important;
  font-weight: bold !important;
}

.modal-content,
.question,
.search_bar,
.accordion-item
 {
  color: $myBleuMarine !important;
  background: white;
  border: solid $myBleuMarine !important;
    border-width: 2px !important;
    border-radius: 10px !important;
}

.accordion-button,
.accordion-body {
  color: $myBleuMarine !important;
    background: white;
    border : 0;
}

.btn-no-event {
  pointer-events:none;
}

.sugg-list-excluded {
  background: lightgray;
}

.stats {
  color: black;
  font-weight: bold;
  background: $stats-color;
  border: none;
}

//FOR CODEPEN FORMATTING
.wrapper {
  max-width: 1000px;
  margin: 4em auto;
  font-size: 16px;
}


@font-face {
  font-family: "Marianne";
  src: url("../fonts/Marianne-Regular.woff2") format('woff2');
}

@font-face {
  font-family: "Marianne";
  src: url("../fonts/Marianne-Bold.woff2") format('woff2');
  font-weight: bold;
}

@font-face {
  font-family: "Marianne";
  src: url("../fonts/Marianne-Bold_Italic.woff2") format('woff2');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Marianne";
  src: url("../fonts/Marianne-Regular_Italic.woff2") format('woff2');
  font-style: italic;
}

body {
  font-family: Marianne
}

.modal-80 {
  max-width: 50% !important;
}
//END CODEPEN FORMATTING