name: Push on branch demo or prod

on:
  push:
    branches:
      - prod
      - demo

jobs:
  checkFrontend: 
    name: Frontend
    uses: ./.github/workflows/frontend.yml

  checkBackend: 
    name: Backend
    uses: ./.github/workflows/backend.yml

  checkEtl: 
    name: Etl
    uses: ./.github/workflows/etl.yml
    secrets:
      DATA_REPOSITORY: "${{ secrets.DATA_REPOSITORY }}"
      
  pushToOnisep: 
    name: ONISEP Repository
    needs: [checkFrontend, checkBackend]
    uses: ./.github/workflows/onisep.yml
    secrets:
      GITLAB_ONISEP_SSH_KEY: "${{ secrets.GITLAB_ONISEP_SSH_KEY }}"