DB_SUGGESTIONS2_PORT=1234
DB_SUGGESTIONS2_NAME=mps_db
DB_SUGGESTIONS2_USERNAME=mps_user
DB_SUGGESTIONS2_PASSWORD=password
DB_SUGGESTIONS2_HOSTNAME=localhost

DB_SUGGESTIONS2_REF_EXPERT=profil_reference
DB_SUGGESTIONS2_REF_LYCEEN=profil_eleve