DB_SUGGESTIONS2_PORT=1234
DB_SUGGESTIONS2_NAME=mps_db
DB_SUGGESTIONS2_USERNAME=mps_user
DB_SUGGESTIONS2_PASSWORD=password
DB_SUGGESTIONS2_HOSTNAME=localhost
DB_SUGGESTIONS2_PROFIL_TABLE=profil_reference