DB_SUGGESTIONS2_PORT=1234
DB_SUGGESTIONS2_NAME=mps_db
DB_SUGGESTIONS2_USERNAME=mps_user
DB_SUGGESTIONS2_PASSWORD=password
DB_SUGGESTIONS2_HOSTNAME=localhost

# optional: directory for precomputed model files
MODELS_DIR=models

# optional overrides for table names
DB_SUGGESTIONS2_REF_EXPERT=profil_reference_expert
DB_SUGGESTIONS2_REF_LYCEEN=profil_reference_lyceen
DB_SUGGESTIONS2_PANIERS_VOEUX=sugg_paniers_voeux
DB_SUGGESTIONS2_JOIN_FORMATION_VOEU=ref_join_formation_voeu